
.header{
  background-color: rgb(225, 225, 225);
  .header__container{
    width: 100%;
    margin: 0 auto;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .header__logo{
    font-size: 2.1vw;
    color: rgb(255, 145, 0);
  }
  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .navbar__link{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

