@import'/src/variables/variables';
.header{
  background-color: $fourth-color;
  width: 100%;
  .header__container{
    padding: 2vh 4vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .header__logo{
    font-size: 60px;
    color: $secondary-color;
  }
}

.dark-mode{
  .header{
    background-color: $fourth-color;
  }
}

