.header{
  background-color: rgb(206, 206, 206);
  width: 100%;
  .header__container{
    padding: 2vh 4vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3{
      font-family: 'poppins';
      font-weight: 600;
      color: rgb(204, 116, 0);
    }
  }
  .header__logo{
    font-size: 60px;
    color: rgba(249, 141, 0, 0.763);
  }
};
