@import'/src/variables/variables';
.countContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .addButton{
        padding: 2% 5%;
        text-align: center;
        align-self: center;
    }
    .btnCount{
        padding: 5px 20px;
        width: max-content;
        height: max-content;
        text-align: center;
        
    }
}