/* HomeLogos.scss */
.containerLogos {
    min-height: 50vh;
    padding: 80px 100px;
    border-top: 1px solid rgb(237, 237, 237);
    height: max-content;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap; 
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.divLogos {
    width: 200px; 
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
}
.divLogos:hover{
    border: 1px solid rgb(237, 237, 237);
    overflow: hidden;
}

.divLogos img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: center;
    
}