
.containerLogos {
    min-height: 50vh;
    padding: 80px 100px;
    border-top: 1px solid rgb(225, 225, 225);
    height: max-content;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap; 
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.divLogo {
    width: 200px; 
    height: 200px; 
    overflow: visible;
}

.divLogo img {
    width: 100%;
    height: 100%;
    transition: scale 400ms;
    object-fit: contain;
    
}
.divLogo:hover img{
    scale: 120%;
}