@import '/src/variables/variables';
.homeBody{
    width: 100%;
    height: max-content;
    background-color: $primary-color;
    padding: 20px 10%;
    .home-container{
        padding: 20px 10px;
        width: 100%;
        min-height: 1600px;
        height: max-content;
        background-color: $fifth-color;
        gap: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .carouselContainer{
        background-color: $tertiary-color;
        width: 80%;
        height: 70%;
        display: grid;
        place-items: center;

    }
} 