.homeBody{
    width: 100%;
    height: 100vh;
    background-color: rgb(74, 76, 86);
    padding: 2% 5%;
    .home-container{
        padding: 10px;
        width: 100%;
        height: 100%;
        background-color: rgb(237, 237, 237);
        display: flex;
        flex-direction: column;
        align-items: center;
        .carouselContainer{
            border: .3px solid gray;
            width: 80%;
            height: 90%;
        }
    }
}