@import '/src/variables/variables';
.itemDetailContainer{
    display: grid;
    place-items: center;
    width: 100%;
    height: 90vh;
}
.divLoader{
    width: 100%;
    height: 100%;
    background-color: $primary-color;
}