
.detailContainer{
    width: 100%;
    height: 100%;
    background-color: rgb(74, 76, 86);


    .detail-box{
        background-color: rgb(255, 255, 255);
        padding: 10px;
        width: 80%;
        height: 65%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
        .img-detail{
            max-height: 50vh;
        }
        .detail-content{
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            border: .1px solid rgb(196, 196, 196);
            border-radius: 5px;
            width: 40%;
            height: 100%;
            overflow: hidden;

            .detail-title{
                font-size: 35px;
                text-align: center;
            }
            .detail-description{
                font-size: 18px;
                font-weight: 600;
            }
            .detail-price{
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}


