
.detailContainer{
    width: 100%;
    height: 100%;
    background-color: rgb(74, 76, 86);
    display: grid;
    place-items: center;
    .itemCountContainer{
        width: 100%;
        display: flex;
    }


    .detail-box{
        background-color: rgb(255, 255, 255);
        padding: 10px;
        width: 80%;
        height: 65%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
        .img-detail{
            max-height: 70%;
            min-height: auto;
            max-width:  30%;
            transition: scale 400ms;
        }
        .img-detail:hover{
            scale: 105%;
        }
        .detail-content{
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            border: .1px solid rgb(225, 225, 225);
            border-radius: 5px;
            width: 40%;
            height: 80%;
            overflow-x: hidden;
            overflow-y: auto;

            .detail-title{
                font-size: 35px;
                text-align: center;
            }
            .detail-description{
                font-size: 18px;
                font-weight: 600;
            }
            .detail-price{
                font-size: 18px;
                font-weight: 400;
            }
            .btn-SeguirComprando{
                border-radius: 5px;
                margin: 0 auto;
                width: max-content;
                text-decoration: none;
                padding: 8px 4%;
                color: rgb(255, 255, 255);
                background-color: rgba(0, 55, 255, 0.935);
                
            }
            .btn-SeguirComprando:hover{
                background-color: rgba(0, 55, 255, 0.801);
            }
            .btn-TerminarCompra{
                margin: 0 auto;
                text-decoration: none;
                border-radius:5px ;
                background-color: rgb(23, 229, 0);
                width: max-content;
                padding: 6px 3%;
                color: rgb(74, 76, 86);
                font-weight: 600;
            }
            .btn-TerminarCompra:hover{
                background-color: rgb(20, 204, 0);
            }
        }
    }
}


