.cartWidget{
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    .cartIcon{
        font-size: 30px;
        color: rgb(41, 42, 47);
    }
    .cartIcon:hover{
        cursor: pointer;
        color: rgb(217, 123, 0);
    }
    .cartSpan{
        color: rgb(41, 42, 47);
        font-size: 20px;
    }
}
