.asideBody{
    width: 20%;
    height: 80vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(249, 141, 0, 0.763);
    .contentAside{
        width: 100%;
        display: grid;
        place-items: center;
    }
    .asideNav{
        padding: 5%;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 4vh;
        background-color: rgb(255, 255, 255);
        border: .5px solid rgb(216, 215, 215);

    }
    .asideLink{
        text-decoration: none;
        font-size: 1vw;
        color: rgb(74, 76, 86);
        font-weight: 600;
        
    }
    .asideLink:hover{
        color: cornflowerblue;
        cursor: pointer;
    }
}