.asideBody{
    width: 20%;
    height: 80vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 2% 2%;
    background-color: rgba(249, 141, 0, 0.763);
    overflow: hidden;
    .contentAside{
        width: 100%;
        display: grid;
        place-items: center;
    }
    .asideNav{
        padding: 5%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 3vh;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        overflow: hidden;

    }
    .asideLink{
        text-decoration: none;
        color: rgb(95, 95, 95);
        font-weight: 400;
        
    }
    .asideLink:hover{
        color: rgb(249, 141, 0);
    }
}