.cartContainer{
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(74, 76, 86);
    .cartDetail{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        text-align: center;
        width: 70%;
        max-height: max-content;
        border-radius: 5px;
        background-color: rgb(237, 237, 237);
        .cartItem{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 80%;
            height: 30vh;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
            padding: 5px;
            gap: 5px;
            .divImgCart{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40%;
                max-height: 100%;
                .cartImg{
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .divItemDetail{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                width: 40%;
                background-color: rgb(237, 237, 237);
                border-radius: 5px;
                
            }
            
            .divDeleteItem{
                width: 20%;
                padding: 15px;
                .btnDeleteItem{
                    font-size: 28px;
                    color: rgb(41, 42, 47);
                }
                .btnDeleteItem:hover{
                    cursor: pointer;
                    color: rgb(217, 123, 0);
                }
            }
            
        }
        .divCartTotalCompra{
            width: 80%;
            padding: 20px;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
        }
    }
    
}