.cartContainer{
    padding: 20px;
    width: 100%;
    min-height: 90vh;
    display: grid;
    place-items: center;
    background-color: rgb(74, 76, 86);
    .cartDetail{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 40px 20px;
        text-align: center;
        width: 80%;
        height: max-content;
        border-radius: 5px;
        background-color: rgb(237, 237, 237);
        h2{
            color: rgb(204, 116, 0);
        }
        .cartItem{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 80%;
            height: 30vh;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
            padding: 5px;
            gap: 5px;
            .divImgCart{
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: visible;
                .cartImg{
                    min-width: 70%;
                    max-height: 70%;
                    object-fit: contain;
                    object-position: center;
                }
            }
            .divItemDetail{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40%;
                height: 90%;
                background-color: rgb(237, 237, 237);
                border-radius: 5px;
                overflow: hidden;
            }
            .titleItem{
                color:rgba(0, 55, 255, 0.757);
            }
            .totalItem{
                color: rgb(22, 191, 0);
            }
            .divDeleteItem{
                width: 20%;
                padding: 15px;
                .btnDeleteItem{
                    font-size: 28px;
                    color: rgb(41, 42, 47);
                }
                .btnDeleteItem:hover{
                    cursor: pointer;
                    color: rgb(217, 123, 0);
                }
            }
        }
        .divCartTotalCompra{
            width: 80%;
            height: 20vh;
            padding: 20px;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .btn-style{
                text-decoration: none;
                border: none;
                width: 20%;
                height: max-content;
                font-weight: 600;
                padding: 10px 10px;
                border-radius: 5px;
                color: rgb(74, 76, 86);
                text-align: center;
            }
            .btn-Vaciar{
                background-color: rgba(249, 141, 0, 0.829);
            } 
            .btn-Vaciar:hover{
                background-color: rgb(249, 141, 0);
            }
            .btn-SeguirCompr{
                background-color: rgba(0, 55, 255, 0.935);
                color: rgb(255, 255, 255);
            }
            .btn-SeguirCompr:hover{
                background-color: rgba(0, 55, 255, 0.801);
            }
            .btn-Confirm{
                background-color: rgb(19, 187, 0);
            }
            .btn-Confirm:hover{
                background-color: rgb(20, 204, 0);
            }
        }
    }
};