
.cardContainer{
    width: 70%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 0.4fr));
    grid-auto-rows: 360px;
    gap: 15px;
    justify-content: center;
    text-align: center;
    background-color: rgb(225, 225, 225);
    border-radius: 5px;
    
}