
.carousel-container {
    padding: 10px;
    border: 1px solid (225, 225, 225);
    border-radius: 5px;
    position: relative;
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden;
    border: 1px solid rgba(217, 123, 0, 0.418) ;
    .carousel-detail-container{
        width: 60%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80% 20%;
        overflow: hidden;
        .row-title{
            grid-area: 2 / 1 / 3 / 2; 
            display: grid;
            place-items: center;
            text-align: center;
            font-size: 32px;
            border-top: 1px solid rgba(217, 123, 0, 0.418);
            
        }
        .carousel-image-container, .row-image{
            grid-area: 1 / 1 / 2 / 2; 
            display: flex;
            justify-content: center;
            align-items: center;
            .imgCarousel {
                max-width: 90%;
                max-height: 90%;
                object-fit: contain; 
                display: block;
            }
        }
    }
}

.imgCarousel {
    max-width: 60%;
    max-height: 70%;
    object-fit: contain; 
    display: block;
}

.btn-prev,
.btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(74, 76, 86);
    color: rgb(225, 225, 225);
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;
}