
/*colors*/
$primary-color: rgb(74, 76, 86);
$secondary-color: rgba(249, 141, 0, 0.763);
$tertiary-color: rgb(225, 225, 225);
$fourth-color: rgb(206, 206, 206);
$fifth-color: rgb(255, 255, 255);

/*font-size*/
$font-sz: (
    xs:18px,
    s:22px,
    m:28px,
    l:32px,
    xl:36px,
    xxl:40px,
    xxxl:44px
);