.contactBody{
    width: 100%;
    height: 100vh;
    background-color: rgb(74, 76, 86);
    .contactContainer{
        padding: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .detailContainer{
            background-color: rgb(237, 237, 237);
            width: 80%;
            height: 100%;
        }
    }
}