.contactBody{
    width: 100%;
    height: 90vh;
    background-color: rgb(74, 76, 86);
    .contactContainer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .detailContainer{
            background-color: rgb(237, 237, 237);
            width: 50%;
            height: 90%;
            border-radius: 10px;
            .formControlCard{
                padding: 10px 20px;
                width: 80%;
                height: 90%;
                border: .5px rgba(217, 123, 0, 0.418) solid;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                .input{
                    width: 70%;
                }
                .textArea{
                    width: 70%;
                }
                .btn-Send{
                    border: none;
                    background-color: rgba(0, 255, 110, 0.785);
                    border-radius: 5px;
                    padding: 5px 10px;
                    min-width: 25%;
                    font-weight: 600;
                }
                .btn-Send:hover{
                    background-color: rgb(0, 212, 92);
                }
            }
        }
    }
}