.contentBody{
    padding: 10px;
    width: 100%;
    min-height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(74, 76, 86);
}

