.contentBody{
    padding-top: 5vh;
    margin-bottom: 50px;
    width: 100%;
    min-height: 4000px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .loadingText{
        width: 70%;
        font-size: 25px;
    }
}

