.card-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    gap: 5px;
    box-shadow: 1px 1px 5px  rgba(88, 88, 88, 0.335);
    .card-img{
        width:55% ;
        height: 55%;
        object-fit: contain;
        object-position: center;
    }
    .btn-VerMas{
        border-radius: 10px;
        background-color: rgba(249, 141, 0, 0.763);
        width: 60%;
    }
    .btn-VerMas:hover{
        background-color: rgb(249, 141, 0);
    }
}

